#painel-sobre{
	margin-top: 20px;
}

.titulo-clientes{
	background-color: #0275D8;
	padding: 10px;	
}

#mapa {
	width: 2000px;
	height: auto;
}

#boi {
	width: 2000px;
	height: auto;
}

#mercado {
	width: 2000px;
	height: auto;
}
